.font-general {
  font-family: 'Inter', sans-serif !important;
}

/* Banner of directives */
.about__card {
  border-radius: 10px;
  box-shadow: 0em 0em 2em 0.25em rgb(0 0 0 / 20%);
  display: flex;
  min-height: 180px;
}

.about__cardImage {
  margin-left: 10px;
  border-radius: 100%;
  margin-bottom: 10px;
  max-width: 120px;
  align-self: center;
}

.about__cardText {
  align-self: center;
  text-align: left;
  margin-left: 10px;
}

.about__cardText h2 {
  color: var(--green-color);
}

.about__cardText h3 {
  color: #707070;
}
