.SettingsContainer {
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SettingsRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.SettingsPhotographRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.SettingsTitle {
  color: var(--blue-color);
  margin-bottom: 30px;
  align-self: center;
}

.SettingsLabel {
  background-color: var(--blue-color);
  font-size: 1.2rem;
  color: white;
  font-size: 1.1em;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  border-radius: 30px 0px 0px 30px;
}

.SettingsInput {
  border: none;
  outline: none;
  border-radius: 0px 30px 30px 0px;
  font-size: 1.1em;
  padding: 10px;
  border: 2px solid var(--blue-color);
  width: 40%;
}

.SettingsInput:focus {
  border: 2px solid var(--blue-color);
}

.SettingsPhotograph {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  cursor: pointer;
  border: 2px solid var(--blue-color);
}

.SettingsFileButton {
  position: relative;
  overflow: hidden;
  border: 2px solid var(--blue-color);
  padding: 8px 16px;
  border-radius: 30px;
  display: flex !important;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.SettingsFileButton:hover {
  background-color: var(--blue-color);
  color: white;
}

.SettingsFileButton:hover i {
  color: white !important;
}

.SettingsFileButton input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0.5;
  outline: none;
  cursor: inherit;
}

.SettingsFileButton i {
  align-self: center;
}

.SettingsUpdateButton {
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1.1em;
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    var(--green-color),
    var(--blue-color)
  );
  cursor: pointer;
  transition: opacity 0.4s;
  justify-content: center;
  display: flex;
}

.SettingsUpdateButton:hover {
  background-color: var(--blue-color);
}
