.courseHeader {
    background-position: center;
    background-size: cover;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.container {
    display: flex;
}

.courseName {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.mainPanel {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin: 10px;
    justify-content: center;
    
}

.courseNameContainer {
    background-color: rgba(51, 51, 153, 0.67);
    padding: 10px 0px 5px 20px;
    border-radius: 68px;
    /* Naval: Rico sin suerte: Riqueza, no en el dinero */
}

.hr {
    border: 2px solid #333399;
    opacity: 1;
    margin: 0;
}

.courseDescription {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    padding-left: 20px;
    padding-top: 20px;
}

.homeworkBox {
    padding: 25px;
    text-align: center;
    min-width: 890px;

}

.cardTitle {
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.HomeworkRow {
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.HomeworkRowTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

.buttonWasSent {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #333399;
    color: white;
    font-size: 1.4rem;
    padding: 4px 40px;
}

.buttonWasSent:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    background-color: #4444cc;
}

.buttonWasNotSent {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #444454;
    color: white;
    font-size: 1.4rem;
    padding: 4px 40px;
}

.buttonWasNotSent:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    background-color: #616177;
}

.courseCard {
    background-color: #E6E6E6;
    border-radius: 35px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.teacherCard {
    padding: 25px;
    min-width: 200px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;
}

.teacherProfileImage {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    align-self: center;
}

.teacherName {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 280px;
    align-self: center;
}

.teacherButton {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    color: white;
}

.teacherButtonPrimary {
    background-color: #333399;
}

.teacherButtonPrimary:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    background-color: #4444cc;
}

.teacherButtonSecondary {
    background-color: #2F2E41;
}

.teacherButtonSecondary:hover {
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    background-color: #616177;
}

/* ----  Responsiveness   ----  */
@media (max-width: 900px) {
    .mainPanel {
        display: flex;
        flex-wrap: wrap;
    }
    .courseCard {
        margin: 0;
        margin-bottom: 15px;
        min-width: 90%;
    }
    .homeworkBox {
        max-width: 90%;
    }
}
