@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.textxwhite {
  color: white;
  font-weight: bold;
}

section {
  padding: 100px;
}

.textBx {
  font-family: 'Inter', sans-serif !important;
}

.container {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.container .head {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
}

.container .hexagon {
  position: relative;
  width: 350px;
  height: 400px;
  margin-right: 20px;
  margin-top: 80px;
}

.container .hexagon::before {
  content: '';
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 60px;
  background: radial-gradient(rgba(0, 0, 0, 0.15), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s;
}

.container .hexagon:hover::before {
  opacity: 0.8;
  transform: scale(0.8);
}

.container .hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  transition: 0.5s;
}

.container .hexagon:hover .shape {
  transform: translateY(-30px);
}

.container .hexagon .shape img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .hexagon .shape .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, #03a9f4, rgba(3, 169, 244, 0.5));
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.container .hexagon .shape .content-header a {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.container .hexagon .shape .content-subtitle {
  margin-top: 15px;
}

.container .hexagon .shape .content-t {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.container .hexagon:hover .shape .content {
  opacity: 1;
}

/**/

.banner {
  position: relative;
  min-height: 100vh;
  background: var(--green-color);
  background: linear-gradient(to right, var(--green-color), var(--blue-color));
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner .h2 .span {
  font-size: 1.5em;
  font-weight: 700;
  color: white !important;
}

.banner .h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.banner img {
  width: 70%;
  display: block;
  margin-left: auto;
}

.btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.btn__border {
  position: relative;
  background-color: transparent;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid var(--green-color);
  transition: background-color 0.3s;
  border-radius: 8px;
}

.btn__border:hover {
  background-color: var(--green-color);
  color: white;
}

/*Header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li .a {
  position: relative;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header.sticky ul li .a {
  color: #111;
}

.container .heading {
  margin-top: 70px;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  color: #111;
}

.container .heading h2 {
  font-weight: 600;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 30px !important;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.w50 {
  min-width: 50%;
}

img {
  width: 100%;
}

.services {
  background: #111;
}

.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .servicesBx:hover {
  background: #2196f3;
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1);
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx {
  height: 50%;
  width: 50%;
  padding: 20px;
}

.work .content .workBx img {
  max-width: 100%;
}

.testimonial {
  background: #f7f7f7;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testimonial .content .testimonialBx {
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}

.testimonial .content .testimonialBx p {
  color: #fff;
  font-style: italic;
  font-weight: 300;
}

.testimonial .content .testimonialBx h3 {
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
}

.testimonial .content .testimonialBx h3 .span {
  font-size: 14px;
  font-weight: 400;
}

.contact {
  background: #fff;
}

.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  color: black;
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}
.formBx form input[type='submit'] {
  max-width: 100px;
  background: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.tag_p {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 3px;
  color: white;
  text-decoration: none;
  margin-top: 25px !important;
  margin-right: 5px;
}

/* Responsive */
@media (max-width: 991px) {
  header,
  header .sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
  }
  header ul li .a {
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 50px !important;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .banner__image {
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contextBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    margin-bottom: 20px !important;
  }
  .services .content .servicesBx {
    margin: 10px;
  }
  .work .content .workBx {
    width: 100%;
    padding: 10px;
  }
  .testimonial .content .testimonialBx {
    max-width: calc(100% - 20px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196f3;
  }
  .testimonial .content .testimonialBx h3 {
    margin-top: 20px;
  }
  .contactInfo {
    margin: 20px 0;
  }
  .banner img {
    display: none !important;
  }
}

@media (max-width: 600px) {
  header,
  header .sticky {
    padding: 20px 20px;
  }
  .banner {
    padding: 150px 20px 100px;
  }
  section {
    padding: 100px 20px;
  }
}

.box2 {
  position: relative;
  box-sizing: border-box;
  display: inline-block !important;
}

.box2 .imgBox {
  position: relative;
  overflow: hidden;
  transition: box-shadow 1s;
}

.box2 .imgBox img {
  transition: transform 1s;
}

.box2 .imgBox:hover {
  box-shadow: 5px 10px 18px #888888 !important;
}
.box2:hover .imgBox img {
  transform: scale(1.2);
}

@media screen and (max-width: 992px) {
  img {
    margin-left: 0 !important;
  }
}
