@import url('https://fonts.googleapis.com/css?family=Poppins:200, 300, 400, 500, 600, 700, 800, 900&display=swap');

.alert {
    padding: 1rem;
    border: 0.2rem solid transparent;
    border-radius: 0.5rem;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
  }
  .alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger {
    animation: color-change 1s infinite;
  }
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }


@keyframes color-change {
  0%   { color: #ce0cc0; border-color: #ce0cc0; }
  50%  { color: #7323a9; border-color: #7323a9;}
  100% { color: #3c319b; border-color: #3c319b; }
}